<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.wizion.mjpru">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mjpru">
        <activity
            android:name=".admin.AdminDashboardActivities.DeleteNotice"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDashboardActivities.faculty.UpdateFaculty"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDashboardActivities.UploadEbook"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDashboardActivities.UploadImage"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDashboardActivities.UploadNotice"
            android:exported="false" />
        <activity
            android:name=".navigationitems.ExamScheme"
            android:exported="false" />
        <activity
            android:name=".navigationitems.ExamNotice"
            android:exported="false" />
        <activity
            android:name=".navigationitems.EntranceExamination"
            android:exported="false" />
        <activity
            android:name=".navigationitems.OnlineExamination"
            android:exported="false" />
        <activity
            android:name=".navigationitems.PostGraduateForm"
            android:exported="false" />
        <activity
            android:name=".navigationitems.UnderGraduateForm"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDashboard"
            android:exported="false" />
        <activity
            android:name="in.wizion.mjpru.LoginSignup.ForgetPasswordSuccessMessage"
            android:exported="false" />
        <activity
            android:name="in.wizion.mjpru.LoginSignup.SetNewPassword"
            android:exported="false" />
        <activity
            android:name="in.wizion.mjpru.LoginSignup.MakeSelection"
            android:exported="false" />
        <activity
            android:name="in.wizion.mjpru.LoginSignup.ForgetPassword"
            android:exported="false" />
        <activity
            android:name="in.wizion.mjpru.LoginSignup.VerifyOTP"
            android:exported="false" />
        <activity
            android:name="in.wizion.mjpru.LoginSignup.Signup3rdClass"
            android:exported="false" />
        <activity
            android:name="in.wizion.mjpru.LoginSignup.Signup2ndClass"
            android:exported="false" />
        <activity
            android:name="in.wizion.mjpru.LoginSignup.SignUp"
            android:exported="false" />
        <activity
            android:name="in.wizion.mjpru.LoginSignup.Login"
            android:exported="false" />
        <activity
            android:name="in.wizion.mjpru.LoginSignup.RetailerStartUpScreen"
            android:exported="false" />

        <activity
            android:name=".homeDashboard.OnBoarding"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homeDashboard.UserDashboard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homeDashboard.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>